* {
    /*Сброс всех базовых настроек*/
    margin: 0;
    /*Величина внешних отступов со всех сторон*/
    padding: 0;
    /*Величина внутренних отступов со всех сторон*/
}

a {/*Запрос ко всем тегам а для устранение синего цвета при клике*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*Уберает синий цвет при клике*/
}

::-webkit-scrollbar {/*Стиль ползунка*/
    width: 10px;/* ширина всей полосы прокрутки */
}
  
::-webkit-scrollbar-track {/*Стиль ползунка*/
    background: #F5F5F5;/* цвет зоны отслеживания #F5F5F5*/
}
  
::-webkit-scrollbar-thumb {/*Стиль ползунка*/
    background-color: #C0C0C0;/* цвет бегунка #C0C0C0*/
    border-radius: 20px;/* округлось бегунка */
    border: 3px solid #F5F5F5;/* отступ вокруг бегунка #F5F5F5*/
}





.main-container {
    display: flex;
}

